.outterContainerCatalog>hr{
    border: 0.5px solid #373737;
}

.titleSection{
    color: #E8B98B;
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.carClasses{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.typeCarItem{
    color: #bbb;
    text-align: center;
}
.typeCarItem:hover{
    color: #E8B98B;
}

.carClasses>div{
    margin: 0 10px;
}

.carsList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}