.outterContainerPopMenu{
    border: 2px solid #373737;
    border-radius: 5px;
    background-color: #1E1E1E;
    color: #BBBBBB;
    padding: 5px 20px;
    font-size: 0.7em;
    margin-top: 60px;
    z-index: 1000;
}

.outterContainerPopMenuVisible{
    display: block;
}
.outterContainerPopMenuNoVisible{
    display: none;
}

.outterContainerPopMenu>div{
    /* margin: 5px 0; */
}

.outterContainerInfoUser{
    margin-bottom: 20px;
}

.linkPA>a{
    text-decoration: none;
    color: #BBBBBB;
    font-size: 1em;
}
