.outterContainerUserItem{
    width: 50%;
}

.userPhoto{
    display: flex;
    align-items: center;
}

.userInfo{
    display: flex;
}

.textFields{
    width: 100%;
    margin-left: 10px;
}

.textFields>div{
    margin: 5px 0;
}

.btnRemove{
    color: red;
    font-size: 1.3em;
}

.btnUpdate{
    color: green;
    font-size: 1.3em;
}