.outterContainerAdminPanel{
    width: 100%;
    height: 89vh;
    text-align: center;
}


.outterContainerCategories{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 1.2em;
}

.outterContainerCategories > a{
    margin: 15px;
    text-decoration: none;
    color: #bbb;
}
.outterContainerCategories > a:hover{
    transform: scale(1.05);
}

.outterContainerCategories > a:active{
    transform: scale(0.95);
}

/* .outterContainerAdminPanel>div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.outterContainerAdminPanel{
    margin: 0 auto;
    width: 70%;
}

