.outterContainerRentRegistr{
    display: flex;
}

.photoBlock{
    width: 70%;
    margin-right: 10px;
}

.controlBlock{
    width: 30%;
}
.controlBlock>div{
    margin: 20px 0;
}

.photo{
    width: 100%;
}