.outterContainerMainDisplay{
    height: 89vh;
}

.imgAndDiscription{
    display: flex;
}

.imgAndDiscription>div{
    width: 50%;
}

.bgWallOutterContainer{
    width: 50%;
    height: 50vh;
    overflow: hidden;
}

.bgWallOutterContainer>img{
    width: 100%;
}

.massengersContainer{
    display: flex;
    margin-top: 5%;
}

@media (max-width: 800px) {
    .imgAndDiscription {
        flex-direction: column;
        align-items: center;
    }
    .imgAndDiscription>div{
        width: 100%;
    }
}