.outterContainer{
    color: #bbb;
    display: flex;
    font-size: 1.6em;
    /* font-size: 24px; */
}

.outterContainer>a{
    margin: 0 5px;
    font-family: 'Inria Serif', serif;
    text-decoration: none;
    color: #bbb;
}

.outterContainer>a:hover{
    transform: scale(1.05);
}

.outterContainer>a:active{
    transform: scale(0.95);
}