.outterContainerBtnSignUp{
    display: flex;
    justify-content: center;
}

.outterContainerBtnSignUp>button{
    margin-top: 20px;
}

.btnControls{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
