.outterContainerCategories{
    margin-top: 10px;
}

.loaderBlock{
    font-size: 1.5em;
    color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderBlock>div{
    margin: 5px;
}