.outterContainerCarItem{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #373737;
    margin: 20px 0;
    padding: 10px 0;
}

.outterContainerCarItem>div{
    margin: 0 10px;
}